/*Style for awale structure*/
ul{

    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    border-style: solid;
    border-radius: 2rem;
    width: 80vw;
    height: 50vh;
    margin: auto;
    padding: auto;
}

ul li{
    text-align: center;
    border-style: solid;
    border-radius: 8rem 8rem 8rem 8rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin: 2rem;
}

ul li:hover{
    cursor: pointer;
}

/************************************************/

/*Style for beginning introduction text to begin awale game*/
p{
    text-align: center;
}

a{
    text-decoration: underline;    
}

a:hover{
    cursor: pointer;
}

/************************************************/
